@model List<Post>

<h2 class="text-center">All Posts</h2>

@foreach (Post post in Model)
{
    <div class="card mx-auto text-center mb-3 w-50">
      <div class="card-header">
        <h5 class="card-title">
          @post.Topic
        </h5>
      </div>

      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
          <a asp-controller="Posts" asp-action="AuthorPage" asp-route-userId="@post.Author.UserId">
            @post.Author.FullName()
          </a>
        </h6>
        <p class="card-text">
          @post.Body
        </p>

        <a asp-action="Details" asp-controller="Posts" asp-route-postId='@post.PostId'>
          Details
        </a>

        <a class="text-warning" asp-action="Edit" asp-controller="Posts" asp-route-postId='@post.PostId'>
          Edit
        </a>

        <a class="text-danger" asp-controller="Posts" asp-action="Delete" asp-route-postId="@post.PostId">
          Delete
        </a>
        @* Example of using href instead of tag helpers *@
        @* <a href='/Posts/@post.PostId'>Details</a> *@
      </div>
    </div>
}