@*
  @model lowercase m to specify the data type of the view model
  @Model capital m to access the data
*@
@model List<Post>

@{
  int? uid = @Context.Session.GetInt32("UserId");
}

<div class="container">
  <h2 class="text-center">All Posts</h2>
  <hr>

  @foreach (Post post in Model)
  {
    List<Vote> upvotes = post.Votes.Where(vote => vote.IsUpvote).ToList();
    List<Vote> downvotes = post.Votes.Where(vote => vote.IsUpvote == false).ToList();
    bool alreadyUpvoted = post.Votes.Any(vote => vote.UserId == uid && vote.IsUpvote == true);
    bool alreadyDownvoted = post.Votes.Any(vote => vote.UserId == uid && vote.IsUpvote == false);
    
    <div class="card shadow-sm rounded mx-auto w-50 mb-4">
      <h4 class="card-title text-center bg-dark text-light py-2">
        <a
          asp-controller="Posts"
          asp-action="Details"
          asp-route-PostId="@post.PostId"
        >
          @post.Topic
        </a>
      </h4>
      <div class="card-body">
        <p class="card-text">
          @post.Body
        </p>
      <small class="text-muted">
        By: 
        <a asp-controller="Home" asp-action="AuthorPage" asp-route-userId="@post.Author.UserId">
          @post.Author.FullName()
        </a> | On: @post.CreatedAt 
      </small>
      </div>

      <img class="card-img-bottom" src="@post.ImgUrl" alt="@post.Topic">

      <div class="card-footer text-center">
        <form
          class="d-inline-block"
          asp-controller="Posts"
          asp-action="Vote"
          asp-route-postId="@post.PostId"
          asp-route-isUpvote="true"
          method="POST"
        >
          <button class="btn btn-link">
            @*
              Ternary if else shorthand:
              condition ? "return this if true" : "return this if false"
              condition is either a boolean or a condition that evaluates into a boolean
            *@
            <span class="h1 @(alreadyUpvoted ? "text-secondary" : "text-success")">
              @upvotes.Count
            </span>
            <span class="h1 text-success">
              &uarr;
            </span>
          </button>
        </form>

        <form
          class="d-inline-block"
          asp-controller="Posts"
          asp-action="Vote"
          asp-route-postId="@post.PostId"
          asp-route-isUpvote="false"
          method="POST"
        >
          <button class="btn btn-link text-danger">
            <span class="h1 text-danger">
              &darr;
            </span>
            <span class="h1 @(alreadyDownvoted ? "text-secondary" : "text-danger")">
              @downvotes.Count
            </span>
          </button>
        </form>

      </div>
    </div>  
  }

  @* 
    This can still be done without a partial by:
      Making the page @model Post
      Putting the List<Post> into ViewBag
      OR creating a wrapper class for the page's model that contains a List<Post> prop and a single Post prop
  *@
  @{
    Post newPost = new Post();
  }
  <partial name="_New" model="@newPost"></partial>
</div>
