@model List<FoodTruck>

@{
  int? uid = Context.Session.GetInt32("UserId");
}

<div class="container w-75 mx-auto p-3">
  @foreach (FoodTruck truck in Model)
  {
    double avgRating = truck.GetAvgReviewRating();
    bool alreadyFan = truck.TruckFans.Any(tf => tf.UserId == uid);

    <div class="row bg-light p-3 mt-3">
      <div class="col-md-3">
        <img class="w-100" src="https://image.flaticon.com/icons/png/512/683/683071.png" alt="Truck">
      </div>

      <div class="col-md-6">
        <h2>@truck.Name</h2>
        <p>Style: @truck.Style</p>
        <p>Average Rating @avgRating.ToString("#.#"): <partial name="_ReviewStars" model="@avgRating"></partial></p>
      </div>

      <div class="col-md-3">
        @* only show if logged in user is creator of truck *@
        @if (uid == truck.UserId)
        {
          <a asp-controller="FoodTrucks" asp-action="Edit" asp-route-foodTruckId="@truck.FoodTruckId" class="btn btn-info">edit</a>
        }
        <a asp-controller="FoodTrucks" asp-action="Details" asp-route-foodTruckId="@truck.FoodTruckId" class="btn btn-success">review</a>
        <a asp-controller="FoodTrucks" asp-action="BecomeFan" asp-route-foodTruckId="@truck.FoodTruckId" class="btn btn-info mt-1">
          <span>(@truck.TruckFans.Count fans)</span>
          
          @if (alreadyFan)
          {
            <span>Un-fan</span>
          }
          else
          {
            <span>Become a fan</span>
          }
        </a>
      </div>


      <small class="text-muted">Uploaded by @truck.UploadedBy.FullName() on @truck.CreatedAt.ToString("MMMM dd yyyy")</small>
    </div>
  }
</div>