@model HomePage;

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="~/style.css">
</head>
<body>
  <h1 class="red">Hello @Model.Tourist.FirstName @Model.Tourist.LastName</h1>

  <h2 class="red">Hello @Model.Tourist.FullName()</h2>

  <p>Message: @ViewBag.Message</p>

  <ul>
    @foreach (Destination destination in Model.TravelDestinations)
    {
      <li>
        <a href="/travel/@destination.Name">@destination.Name</a>
      </li>
    }
  </ul>

  <div>
    <a href="/register">Register</a>
  </div>

</body>
</html>