@model List<Truck>

<div class="container">
  <h2 class="text-center mb-3">All Trucks</h2>
  
  @foreach (Truck truck in Model)
  {
      <div class="row mb-2 p-3 border rounded shadow">
        <div class="col-md-4">
          <img src="@truck.ImgUrl" alt="Food" class="w-100 rounded-circle">
        </div>

        <div class="col-md-6">
          <h3>
            <a
              asp-controller="Trucks"
              asp-action="Details"
              asp-route-truckId="@truck.TruckId"
            >
              @truck.Name
            </a>
          </h3>
          <p>Style: @truck.Style</p>
          <p class="text-muted">
            Average rating: TBD
          </p>
          <small class="text-muted">
            Submitted By: @truck.SubmittedBy.FullName() on @truck.CreatedAt
          </small>
        </div>

        <div class="col-md-2">
          <a
            asp-controller="Trucks"
            asp-action="Edit"
            asp-route-truckId="@truck.TruckId"
            class="btn btn-info"
          >
            edit
          </a>
          <a
            asp-controller="Trucks"
            asp-action="Details"
            asp-route-truckId="@truck.TruckId"
            class="btn btn-info"
          >
            Review
          </a>
        </div>
      </div>
  }
</div>